git clone git@gitlabdemo.cloud-msp.net:demogroup/{{ jumphost_user }}-broken-python.git
git clone git@gitlabdemo.cloud-msp.net:demogroup/{{ jumphost_user }}-broken-powershell.git
git clone git@gitlabdemo.cloud-msp.net:demogroup/{{ jumphost_user }}-broken-c.git

